.loginForm {
    width: 300px;
    background-color: #fff;
    margin: 0 auto;
}
.title {
    margin: 0 0 60px;
    font-size: 22px;
    color: rgba(0,0,0,0.85);
}
.input-wrap {
    border: 1px solid #dcdcdc;
    margin-bottom: 20px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    display: flex;
}
.input-wrap .input-suffix {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #6d8484;
    float: left;
}
.input-wrap .user-suffix {
    background: url("../img/username.png") center center no-repeat;
    background-size: auto 16px;
}
.input-wrap .pwd-suffix {
    background: url("../img/password.png") center center no-repeat;
    background-size: auto 16px;
}
.input-wrap input {
    border: none;
    height: 36px;
    line-height: 36px;
    outline: none;
    padding: 6px 6px 6px 0;
    display: block;
    width: 100%;
    /*background: #EFEFEF;*/
}
.input-wrap input::placeholder {
    color: #a3a3a3;
}