<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>

<style>
    *{ box-sizing: border-box;}
    html, body { background-color: #EFEFEF;}
    p { margin: 0 0 10px;}

    .box { width: 360px; margin: 80px auto 0; padding: 40px; background-color: #fff;}
    .title { margin: 0 0 25px;}
</style>

<body>
    <div class="box">
        <h3 class="title">Welcome！</h3>
        <p><span th:text="${session.username}"></span>，欢迎登录业务系统。</p>
        <a href="/" th:href="@{/}">退出</a>
    </div>
</body>
</html>